.sectiont{
background-color:#4A3C49;
color: #EDF9F1;
align-items: center;
justify-content: space-between;
}

div{
display: flex;}
h1{
margin: 10px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,}
av{
display: flex;
}
a{
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: none;
COLOR:#A99FA8;
padding: 10px;
margin: 10px;
}
